.extra-top-space {
  margin-bottom: 70px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.has-error {
  border-color: #a94442;
  border-left: 5px solid #a94442;
}

.error-text {
  font-size: 13px;
  margin-top: 8px;
}