<div class="container extra-top-space">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-xs-12">
            <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="regForm.submitted && !regForm.valid || showErrMsg" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{errMsg}}
            </div>
            <h1 class="extra-bottom-space"><span class="fa fa-user-plus"></span> Signup</h1>

            <form method="post" #regForm="ngForm" (ngSubmit)="register(regForm.value, regForm.valid)" novalidate>
                <div class="row">
                    <div class="col-md-12">
                         <div class="form-group">
                            <input
                                type="email"
                                #email="ngModel"
                                class="form-control"
                                placeholder="Email"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && email.errors?.required)}"
                                name="email"
                                required
                                ngModel>
                            <div class="text-danger error-text" *ngIf="email.errors?.required && email.touched || (regForm.submitted && email.errors?.required)">
                                This field is required.
                            </div>
                        </div>
                    </div>
		</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input
                                type="password"
                                #password1="ngModel"
                                class="form-control"
                                placeholder="Password"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && password1.errors?.required)}"
                                name="password1"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="password1.errors?.required && password1.touched || (regForm.submitted && password1.errors?.required)">
                                This field is required.
                            </div>
                        </div>
		    </div>
		</div>
		
                <div class="row">
		  <div class="col-md-12">
		    <div class="form-group">
                      <input
                        type="password"
                        #password2="ngModel"
                        class="form-control"
                        placeholder="Confirm Password"
                        [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && password2.errors?.required)}"
                        name="password2"
                        required
                        ngModel>
                      <div class="text-danger error-text" *ngIf="password2.errors?.required && password2.touched || (regForm.submitted && password2.errors?.required)">
                        This field is required.
                      </div>
		    </div>
                  </div>
                </div>

		<div class="row">
                  <div class="col-md-12">
		    <div class="form-check form-check-inline">
		      <label class="form-check-label">
			<input class="form-check-input" type="checkbox"
                               #user_type="ngModel"
                               class=""
                               [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && user_type.errors?.required)}"
                               name="user_type"
                               ngModel>
			<span class="custom-control-description">Are you a Mission/Orgnisation?</span>
		      </label>
		      <div class="text-danger error-text" *ngIf="user_type.errors?.required && user_type.touched || (regForm.submitted && user_type.errors?.required)">
                        This field is required.
                      </div>
		    </div>
		  </div>
		</div>

                <button type="submit" class="btn btn-warning btn-block btn-lg">Signup</button>
            </form>


            <hr>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
            <p>Or go <a routerLink="//">home</a>.</p>
        </div>
    </div>
</div>
