<div class="container extra-top-space">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-xs-12">
            <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="regForm.submitted && !regForm.valid || showErrMsg" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{errMsg}}
            </div>
            <h1 class="extra-bottom-space"><span class="fa fa-user-plus"></span> Signup</h1>

            <form method="post" #regForm="ngForm" (ngSubmit)="register(regForm.value, regForm.valid)" novalidate>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <input
                                type="text"
                                #firstName="ngModel"
                                class="form-control"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && firstName.errors?.required)}"
                                placeholder="First Name"
                                name="first_name"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="firstName.errors?.required && firstName.touched || (regForm.submitted && firstName.errors?.required)">
                                This Feild is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <input
                                type="text"
                                #lastName="ngModel"
                                class="form-control"
                                placeholder="Last Name"
                                name="last_name"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && lastName.errors?.required)}"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="lastName.errors?.required && lastName.touched || (regForm.submitted && lastName.errors?.required)">
                                This Feild is required.
                            </div>
                        </div>

                         <div class="form-group">
                            <input
                                type="email"
                                #email="ngModel"
                                class="form-control"
                                placeholder="Email"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && email.errors?.required)}"
                                name="email"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="email.errors?.required && email.touched || (regForm.submitted && email.errors?.required)">
                                This Feild is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <input
                                type="text"
                                #userName="ngModel"
                                class="form-control"
                                placeholder="Username"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && userName.errors?.required)}"
                                name="username"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="userName.errors?.required && userName.touched || (regForm.submitted && userName.errors?.required)">
                                This Feild is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <input
                                type="password"
                                #password1="ngModel"
                                class="form-control"
                                placeholder="Password"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && password1.errors?.required)}"
                                name="password1"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="password1.errors?.required && password1.touched || (regForm.submitted && password1.errors?.required)">
                                This Feild is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <input
                                type="password"
                                #password2="ngModel"
                                class="form-control"
                                placeholder="Confirm Password"
                                [ngClass]="{'has-error':((regForm.submitted && !regForm.valid) && password2.errors?.required)}"
                                name="password2"
                                required
                                ngModel
                                >
                            <div class="text-danger error-text" *ngIf="password2.errors?.required && password2.touched || (regForm.submitted && password2.errors?.required)">
                                This Feild is required.
                            </div>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-warning btn-block btn-lg">Signup</button>
            </form>


            <hr>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
            <p>Or go <a routerLink="//">home</a>.</p>
        </div>
    </div>
</div>