<div class="panel panel-default">
  <div class="panel-body">
    <h1>About Us</h1>

    <ul>
      <li>
        <h3>What is Talespace?</h3>
        <p>
          TaleSpace is an educational organization focusing on experiential learning through knowledge sharing. It is a
          space where everybody’s story plays a part in our educational escapade. A story of an individual can be shared
          as an applicable skill in a community. This learning process is open to all and designed to reach rural and
          underprivileged communities.
        </p>
      </li>
      <li>
        <h3>How it Works?</h3>
        <ul>
          <li>TaleSpace is a social enterprise which allows a person to volunteer while transferring their knowledge. We
            will guide on the how to.
          </li>
          <li>
            A volunteer who joins us is called a TaleMaster.
          </li>
          <li>
            A TaleMaster signs up to volunteer; is encouraged to help the underprivileged as well.
          </li>
        </ul>
      </li>
      <li>
        <h3>Our Mission</h3>
        <ul>
          <li>
            To create “spaces” all around the world where anyone can share his or her skills to the local communities.
          </li>
          <li>
            To enable travelers/to-be-travelers to share their knowledge to the local communities & be rewarded while
            doing so.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
