<div class="container-fluid extra-top-space extra-bottom-space">
  <div class="row">
      <div class="col-xs-12">
        <h1 class="text-xs-center">About Us</h1>
      </div>
  </div>
</div>
<div class="container-fluid extra-bottom-space">
  <div class="row">
    <div class="col-lg-4 col-xs-12">
        <div class="card card-block">
          <h5 class="card-title">⇒ What is Talespace?</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p>
                TaleSpace is an educational organization focusing on experiential learning through knowledge sharing. It is a
                space where everybody’s story plays a part in our educational escapade. A story of an individual can be shared
                as an applicable skill in a community. This learning process is open to all and designed to reach rural and
                underprivileged communities.
              </p>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="card card-block">
          <h5 class="card-title">⇒ How it Works?</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                ♦ TaleSpace is a social enterprise which allows a person to volunteer while transferring their knowledge. We
                will guide on the how to.
              </li>
              <li class="list-group-item">
                ♦ A volunteer who joins us is called a TaleMaster.
              </li>
              <li class="list-group-item">
                ♦ A TaleMaster signs up to volunteer; is encouraged to help the underprivileged as well.
              </li>
          </ul>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="card card-block">
          <h5 class="card-title">⇒ Our Mission</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                ♦ To create “spaces” all around the world where anyone can share his or her skills to the local communities.
              </li>
              <li class="list-group-item">
                ♦ To enable travelers/to-be-travelers to share their knowledge to the local communities & be rewarded while
                doing so.
              </li>
          </ul>
        </div>
    </div>
  </div>
</div>
