<div class="container-fluid footer-wrapper">
    <div class="row">
        <div class="col-xs-12 extra-small-padding">
            <div class="text-md-left copyright">
                <p>TaleSpace 2016 © All Rights Reserved</p>
            </div>
            <div class="text-md-right icons-wrapper">
                <div class="icons">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>