img {
  width: 100%;
}

.icon-wrapper {
    background: #f58d1d;
    padding-top: 17px;
    border-radius: 50%;
    width: 115px;
    height: 100px;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.extra-top-space {
    margin-top: 50px;
}

