<ngb-carousel>
  <template ngbSlide>
    <img src="../../../assets/images/slide2.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Choose Your mission</h3>
    </div>
  </template>
  <template ngbSlide>
    <img src="../../../assets/images/slide3.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Teach your story</h3>
    </div>
  </template>
</ngb-carousel>
<div class="container extra-top-space">
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12 extra-top-space">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
					<div class="icon-wrapper">
						<i class="fa fa-5x fa-graduation-cap" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<h1 class="text-center">Missions</h1>
			<p class="text-center">
				If you are have a project, an NGO, a new small business, or a social enterprise like us, you’re definitely a mission that fits here. Let us know what skills can help you. Learn new skills and knowledge from our TaleMasters. We are different because we guide the volunteers to leave behind their knowledge so you can continue to grow your project.
			</p>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12 extra-top-space">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
					<div class="icon-wrapper">
						<i class="fa fa-5x fa-bullhorn" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<h1 class="text-center">TaleMasters</h1>
			<p class="text-center">
				Join us, if you have a skill or knowledge. You would love to teach and share it. Be our TaleMaster and gain unforgetable experiences. We want to reward you too! Our platform aims to highlight that volunteers can offer more & leave an impact. We guide you to achieve this. With your help we would like to build a global knowledge sharing community and to reach out to the underprivileged.
			</p>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12 extra-top-space">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
					<div class="icon-wrapper">
						<i class="fa fa-5x fa-link" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<h1 class="text-center">Collaborations</h1>
			<p class="text-center">
				Be apart of TaleSpace, support positive impact; Open your doors to this knowledge sharing movement. Our mandate, with every service we offer, upto 80% of its proceeds will be channeled for the underprivileged or missions. Contact us at marketing@talespace.co to know more if you would like to get your company to experience our project or get your CSR Team involved in this.
			</p>
		</div>
	</div>
