.navbar {
  margin-bottom: 0;
  background: #f58d1d;
  height: 70px;
  padding: 14px;
  border-radius: 0;
  border: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    width: auto;
    height: 40px;
}

.navbar-light .navbar-nav>li>a {
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding-top: 10px;
    margin-left: 20px;
}

.navbar-light .navbar-nav>li>a:hover {
    border-bottom: 2px solid white;
    color: white;
    padding-bottom: 20px;
}

